# Auth-Proxy (логин, refresh, logout)
AUTH_PROXY_URL=http://localhost:38081

# Main-service (пользователи, health)
MAIN_SERVICE_URL=http://localhost:38080

# News-collector (health)
NEWS_COLLECTOR_URL=http://localhost:38082

# News-processor (health)
NEWS_PROCESSOR_URL=http://localhost:38083

# Alert-worker (health)
ALERT_WORKER_URL=http://localhost:38084

# Loki (логи сервисов)
LOKI_URL=http://localhost:3100
