.idea/
.vscode/
.env

*.out
*.test

/main-service

/vendor

configs/config.local.yaml
configs/config.prod.yaml
configs/alertmanager.yml
configs/config.auth-proxy.local.yaml
configs/config.auth-proxy.prod.yaml
configs/config.auth-proxy.test.yaml

/load_testing/logs
