.idea/
.vscode/
.env

*.out
*.test

/main-service
/auth-proxy
/news-collector

/vendor
/.cursor

configs/config.local.yaml
configs/config.prod.yaml
configs/alertmanager.yml
configs/config.auth-proxy.local.yaml
configs/config.auth-proxy.prod.yaml
configs/config.auth-proxy.test.yaml
configs/config.news-collector.local.yaml
configs/config.news-collector.prod.yaml
configs/config.news-processor.local.yaml
configs/config.news-processor.prod.yaml

/load_testing/logs

/client/__pycache__
/client/.venv
