basePath: /
definitions:
  keycloak.ErrorResponse:
    properties:
      error:
        type: string
      error_description:
        type: string
    type: object
  keycloak.LoginRequest:
    properties:
      password:
        type: string
      username:
        type: string
    required:
    - password
    - username
    type: object
  keycloak.LogoutRequest:
    properties:
      refresh_token:
        type: string
    required:
    - refresh_token
    type: object
  keycloak.RefreshRequest:
    properties:
      refresh_token:
        type: string
    required:
    - refresh_token
    type: object
  keycloak.TokenResponse:
    properties:
      access_token:
        type: string
      expires_in:
        type: integer
      refresh_expires_in:
        type: integer
      refresh_token:
        type: string
      scope:
        type: string
      token_type:
        type: string
    type: object
host: fishouk-otus-ms.ru
info:
  contact:
    name: OtusMS Support
    url: https://github.com/FischukSergey/otus-ms
  description: API для аутентификации пользователей через Keycloak в проекте OtusMS.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: http://swagger.io/terms/
  title: OtusMS Auth-Proxy API
  version: 1.0.0
paths:
  /api/v1/auth/login:
    post:
      consumes:
      - application/json
      description: |-
        Аутентифицирует пользователя и возвращает access и refresh токены.
        Токены получаются от Keycloak.
      parameters:
      - description: Учетные данные пользователя
        in: body
        name: credentials
        required: true
        schema:
          $ref: '#/definitions/keycloak.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Токены успешно получены
          schema:
            $ref: '#/definitions/keycloak.TokenResponse'
        "400":
          description: Невалидный запрос или отсутствуют обязательные поля
          schema:
            $ref: '#/definitions/keycloak.ErrorResponse'
        "401":
          description: Неверные учетные данные
          schema:
            $ref: '#/definitions/keycloak.ErrorResponse'
        "500":
          description: Внутренняя ошибка сервера или ошибка Keycloak
          schema:
            $ref: '#/definitions/keycloak.ErrorResponse'
      summary: Вход в систему
      tags:
      - auth
  /api/v1/auth/logout:
    post:
      consumes:
      - application/json
      description: |-
        Инвалидирует refresh токен в Keycloak, завершая сессию пользователя.
        После logout токены становятся недействительными.
      parameters:
      - description: Refresh токен для инвалидации
        in: body
        name: token
        required: true
        schema:
          $ref: '#/definitions/keycloak.LogoutRequest'
      produces:
      - application/json
      responses:
        "204":
          description: Выход выполнен успешно
        "400":
          description: Невалидный запрос или отсутствует refresh token
          schema:
            $ref: '#/definitions/keycloak.ErrorResponse'
        "500":
          description: Ошибка при выполнении logout в Keycloak
          schema:
            $ref: '#/definitions/keycloak.ErrorResponse'
      summary: Выход из системы
      tags:
      - auth
  /api/v1/auth/refresh:
    post:
      consumes:
      - application/json
      description: |-
        Обменивает refresh токен на новую пару access и refresh токенов.
        Позволяет продлить сессию пользователя без повторного ввода пароля.
      parameters:
      - description: Refresh токен
        in: body
        name: token
        required: true
        schema:
          $ref: '#/definitions/keycloak.RefreshRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Новые токены успешно получены
          schema:
            $ref: '#/definitions/keycloak.TokenResponse'
        "400":
          description: Невалидный запрос или отсутствует refresh token
          schema:
            $ref: '#/definitions/keycloak.ErrorResponse'
        "401":
          description: Невалидный или истекший refresh токен
          schema:
            $ref: '#/definitions/keycloak.ErrorResponse'
        "500":
          description: Внутренняя ошибка сервера или ошибка Keycloak
          schema:
            $ref: '#/definitions/keycloak.ErrorResponse'
      summary: Обновление токена
      tags:
      - auth
swagger: "2.0"
