{
    "swagger": "2.0",
    "info": {
        "description": "API для аутентификации пользователей через Keycloak в проекте OtusMS.",
        "title": "OtusMS Auth-Proxy API",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "OtusMS Support",
            "url": "https://github.com/FischukSergey/otus-ms"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0.0"
    },
    "host": "fishouk-otus-ms.ru",
    "basePath": "/",
    "paths": {
        "/api/v1/auth/login": {
            "post": {
                "description": "Аутентифицирует пользователя и возвращает access и refresh токены.\nТокены получаются от Keycloak.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Вход в систему",
                "parameters": [
                    {
                        "description": "Учетные данные пользователя",
                        "name": "credentials",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/keycloak.LoginRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Токены успешно получены",
                        "schema": {
                            "$ref": "#/definitions/keycloak.TokenResponse"
                        }
                    },
                    "400": {
                        "description": "Невалидный запрос или отсутствуют обязательные поля",
                        "schema": {
                            "$ref": "#/definitions/keycloak.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Неверные учетные данные",
                        "schema": {
                            "$ref": "#/definitions/keycloak.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера или ошибка Keycloak",
                        "schema": {
                            "$ref": "#/definitions/keycloak.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/auth/logout": {
            "post": {
                "description": "Инвалидирует refresh токен в Keycloak, завершая сессию пользователя.\nПосле logout токены становятся недействительными.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Выход из системы",
                "parameters": [
                    {
                        "description": "Refresh токен для инвалидации",
                        "name": "token",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/keycloak.LogoutRequest"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Выход выполнен успешно"
                    },
                    "400": {
                        "description": "Невалидный запрос или отсутствует refresh token",
                        "schema": {
                            "$ref": "#/definitions/keycloak.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Ошибка при выполнении logout в Keycloak",
                        "schema": {
                            "$ref": "#/definitions/keycloak.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/auth/refresh": {
            "post": {
                "description": "Обменивает refresh токен на новую пару access и refresh токенов.\nПозволяет продлить сессию пользователя без повторного ввода пароля.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Обновление токена",
                "parameters": [
                    {
                        "description": "Refresh токен",
                        "name": "token",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/keycloak.RefreshRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Новые токены успешно получены",
                        "schema": {
                            "$ref": "#/definitions/keycloak.TokenResponse"
                        }
                    },
                    "400": {
                        "description": "Невалидный запрос или отсутствует refresh token",
                        "schema": {
                            "$ref": "#/definitions/keycloak.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Невалидный или истекший refresh токен",
                        "schema": {
                            "$ref": "#/definitions/keycloak.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера или ошибка Keycloak",
                        "schema": {
                            "$ref": "#/definitions/keycloak.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/auth/register": {
            "post": {
                "description": "Создаёт пользователя в Keycloak и Main Service с ролью user.\nПосле регистрации необходимо выполнить login для получения токенов.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Регистрация нового пользователя",
                "parameters": [
                    {
                        "description": "Данные для регистрации",
                        "name": "user",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/keycloak.RegisterRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Пользователь успешно зарегистрирован"
                    },
                    "400": {
                        "description": "Невалидные данные или ошибка валидации",
                        "schema": {
                            "$ref": "#/definitions/keycloak.ErrorResponse"
                        }
                    },
                    "409": {
                        "description": "Пользователь с таким email уже существует",
                        "schema": {
                            "$ref": "#/definitions/keycloak.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "schema": {
                            "$ref": "#/definitions/keycloak.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/news": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Возвращает последние новости с полями topic, source и url. Требуется роль admin.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "news"
                ],
                "summary": "Получить список новостей (только admin)",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Лимит записей (1..500), по умолчанию 50",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Список новостей",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/newshttp.NewsResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "Некорректный query-параметр limit",
                        "schema": {
                            "$ref": "#/definitions/newshttp.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Не авторизован - отсутствует или невалидный JWT токен",
                        "schema": {
                            "$ref": "#/definitions/newshttp.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Доступ запрещён - требуется роль admin",
                        "schema": {
                            "$ref": "#/definitions/newshttp.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "schema": {
                            "$ref": "#/definitions/newshttp.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/news/events": {
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Принимает события view/click/like/dislike/hide для текущего пользователя (роль user/admin).",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "personalization"
                ],
                "summary": "Отправить пользовательское событие",
                "parameters": [
                    {
                        "description": "Событие пользователя",
                        "name": "payload",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/personalization.CreateEventRequestSchema"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": ""
                    },
                    "400": {
                        "description": "Невалидный payload",
                        "schema": {
                            "$ref": "#/definitions/personalization.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/personalization.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Недостаточно прав",
                        "schema": {
                            "$ref": "#/definitions/personalization.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "schema": {
                            "$ref": "#/definitions/personalization.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/news/feed": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Возвращает новости с фильтрацией и ранжированием score для текущего пользователя (роль user/admin).",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "personalization"
                ],
                "summary": "Получить персонализированную ленту",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Лимит (1..100), по умолчанию 50",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Смещение, по умолчанию 0",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Окно выдачи в часах",
                        "name": "fromHours",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "FTS запрос (websearch syntax)",
                        "name": "q",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Персонализированная лента",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/personalization.FeedItemResponseSchema"
                            }
                        }
                    },
                    "400": {
                        "description": "Невалидные query-параметры",
                        "schema": {
                            "$ref": "#/definitions/personalization.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/personalization.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Недостаточно прав",
                        "schema": {
                            "$ref": "#/definitions/personalization.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "schema": {
                            "$ref": "#/definitions/personalization.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/users/me/preferences": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Возвращает настройки personalization для текущего пользователя (роль user/admin).",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "personalization"
                ],
                "summary": "Получить предпочтения пользователя",
                "responses": {
                    "200": {
                        "description": "Предпочтения пользователя",
                        "schema": {
                            "$ref": "#/definitions/personalization.PreferencesResponseSchema"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/personalization.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Недостаточно прав",
                        "schema": {
                            "$ref": "#/definitions/personalization.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "schema": {
                            "$ref": "#/definitions/personalization.ErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Создает или обновляет настройки personalization текущего пользователя (роль user/admin).",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "personalization"
                ],
                "summary": "Обновить предпочтения пользователя",
                "parameters": [
                    {
                        "description": "Настройки personalization",
                        "name": "payload",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/personalization.UpdatePreferencesRequestSchema"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": ""
                    },
                    "400": {
                        "description": "Невалидный payload",
                        "schema": {
                            "$ref": "#/definitions/personalization.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/personalization.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Недостаточно прав",
                        "schema": {
                            "$ref": "#/definitions/personalization.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "schema": {
                            "$ref": "#/definitions/personalization.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/news.v1.NewsService/SaveProcessedNews": {
            "post": {
                "responses": {}
            }
        },
        "/news_sources.v1.NewsSourcesService/GetNewsSources": {
            "post": {
                "responses": {}
            }
        }
    },
    "definitions": {
        "keycloak.ErrorResponse": {
            "type": "object",
            "properties": {
                "error": {
                    "type": "string"
                },
                "error_description": {
                    "type": "string"
                }
            }
        },
        "keycloak.LoginRequest": {
            "type": "object",
            "required": [
                "password",
                "username"
            ],
            "properties": {
                "password": {
                    "type": "string"
                },
                "username": {
                    "type": "string"
                }
            }
        },
        "keycloak.LogoutRequest": {
            "type": "object",
            "required": [
                "refresh_token"
            ],
            "properties": {
                "refresh_token": {
                    "type": "string"
                }
            }
        },
        "keycloak.RefreshRequest": {
            "type": "object",
            "required": [
                "refresh_token"
            ],
            "properties": {
                "refresh_token": {
                    "type": "string"
                }
            }
        },
        "keycloak.RegisterRequest": {
            "type": "object",
            "required": [
                "email",
                "firstName",
                "lastName",
                "password"
            ],
            "properties": {
                "email": {
                    "type": "string",
                    "maxLength": 255
                },
                "firstName": {
                    "type": "string",
                    "maxLength": 255
                },
                "lastName": {
                    "type": "string",
                    "maxLength": 255
                },
                "middleName": {
                    "type": "string",
                    "maxLength": 255
                },
                "password": {
                    "type": "string",
                    "maxLength": 128,
                    "minLength": 8
                }
            }
        },
        "keycloak.TokenResponse": {
            "type": "object",
            "properties": {
                "access_token": {
                    "type": "string"
                },
                "expires_in": {
                    "type": "integer"
                },
                "refresh_expires_in": {
                    "type": "integer"
                },
                "refresh_token": {
                    "type": "string"
                },
                "scope": {
                    "type": "string"
                },
                "token_type": {
                    "type": "string"
                }
            }
        },
        "newshttp.ErrorResponse": {
            "type": "object",
            "properties": {
                "error": {
                    "type": "string"
                }
            }
        },
        "newshttp.NewsResponse": {
            "type": "object",
            "properties": {
                "createdAt": {
                    "type": "string"
                },
                "source": {
                    "type": "string"
                },
                "topic": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "personalization.CreateEventRequestSchema": {
            "type": "object",
            "properties": {
                "eventType": {
                    "type": "string"
                },
                "metadata": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "any"
                    }
                },
                "newsId": {
                    "type": "string"
                }
            }
        },
        "personalization.ErrorResponse": {
            "type": "object",
            "properties": {
                "error": {
                    "type": "string"
                }
            }
        },
        "personalization.FeedItemResponseSchema": {
            "type": "object",
            "properties": {
                "category": {
                    "type": "string"
                },
                "createdAt": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "processedAt": {
                    "type": "string"
                },
                "publishedAt": {
                    "type": "string"
                },
                "score": {
                    "type": "number"
                },
                "source": {
                    "type": "string"
                },
                "sourceId": {
                    "type": "string"
                },
                "tags": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "topic": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "personalization.PreferencesResponseSchema": {
            "type": "object",
            "properties": {
                "fromHours": {
                    "type": "integer"
                },
                "preferredCategories": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "preferredKeywords": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "preferredLanguage": {
                    "type": "string"
                },
                "preferredSources": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "updatedAt": {
                    "type": "string"
                }
            }
        },
        "personalization.UpdatePreferencesRequestSchema": {
            "type": "object",
            "properties": {
                "fromHours": {
                    "type": "integer"
                },
                "preferredCategories": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "preferredKeywords": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "preferredLanguage": {
                    "type": "string"
                },
                "preferredSources": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        }
    }
}